Source: spice-protocol
Priority: optional
Maintainer: Liang Guo <guoliang@debian.org>
Build-Depends: debhelper (>= 7.0.50~)
Standards-Version: 3.9.4
Section: libs
Homepage: http://www.spice-space.org/
Vcs-Git: git://anonscm.debian.org/collab-maint/spice-protocol.git
Vcs-Browser: http://anonscm.debian.org/git/collab-maint/spice-protocol.git

Package: libspice-protocol-dev
Section: libdevel
Architecture: all
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: SPICE protocol headers
 The Simple Protocol for Independent Computing Environments (SPICE) 
 is a remote display system built for virtual environments which
 allows you to view a computing 'desktop' environment not only on
 the machine where it is running, but from anywhere on the Internet
 and from a wide variety of machine architectures. 
 .
 This package provides headers defining protocols.
